<Boltzmann>
	<QCD>
		<mu>1.374730713690872</mu>
	</QCD>
	<Qq2Qq status="active">
		<mass>10</mass>
		<degeneracy>36</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>10.1</Lsqrts> <Hsqrts>20.0</Hsqrts>
			<Ntemp>20</Ntemp> <Ltemp>0.1</Ltemp> <Htemp>1.1</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>30</Nenergy> <Lenergy>10.1</Lenergy> <Henergy>50.0</Henergy>
			<Ntemp>20</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</Qq2Qq>

	<Qg2Qg status="active">
		<mass>10</mass>
		<degeneracy>16</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>10.1</Lsqrts> <Hsqrts>20.0</Hsqrts>
			<Ntemp>20</Ntemp> <Ltemp>0.1</Ltemp> <Htemp>1.1</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>30</Nenergy> <Lenergy>10.1</Lenergy> <Henergy>50.0</Henergy>
			<Ntemp>20</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</Qg2Qg>
	


</Boltzmann>