<Boltzmann>

	<!-- (1) Add any 2->2 or 2->3 proceeses you want,
		     so long as the matrix-elements is provided
		 (2) The mass of the probe does not have to be heavy,
		 	 the framework can easily incroperate light parton -->

	<!--###########################Gluons##############################-->
	<gq2gq status="active" moments="on">
		<mass>.0</mass>
		<degeneracy>36</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</gq2gq>

	<gg2gg status="active" moments="on">
		<mass>.0</mass>
		<degeneracy>16</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</gg2gg>

	<gq2gqg status="inactive" moments="off">
		<mass>.0</mass>
		<degeneracy>36</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</gq2gqg>

	<gg2ggg status="inactive" moments="off">
		<mass>.0</mass>
		<degeneracy>16</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</gg2ggg>

	<gqg2gq status="inactive" moments="off">
		<mass>.0</mass>
		<degeneracy>576</degeneracy>
		<xsection slots="sqrts,temp,xinel,yinel">
			<Nsqrts>40</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>20.0</Hsqrts>
			<Ntemp>10</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
			<Nxinel>20</Nxinel> <Lxinel>0.01</Lxinel> <Hxinel>0.99</Hxinel>
			<Nyinel>20</Nyinel> <Lyinel>0.01</Lyinel> <Hyinel>0.99</Hyinel>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>60</Nenergy> <Lenergy>.1</Lenergy> <Henergy>60.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</gqg2gq>

	<ggg2gg status="inactive" moments="off">
		<mass>.0</mass>
		<degeneracy>256</degeneracy>
		<xsection slots="sqrts,temp,xinel,yinel">
			<Nsqrts>40</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>20.0</Hsqrts>
			<Ntemp>10</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
			<Nxinel>20</Nxinel> <Lxinel>0.01</Lxinel> <Hxinel>0.99</Hxinel>
			<Nyinel>20</Nyinel> <Lyinel>0.01</Lyinel> <Hyinel>0.99</Hyinel>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>60</Nenergy> <Lenergy>.1</Lenergy> <Henergy>60.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</ggg2gg>

	<g2gg status="inactive" moments="off">
		<mass>.0</mass>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</g2gg>

	<gg2g status="inactive" moments="off">
		<mass>.0</mass>
		<rate slots="energy,temp">
			<Nenergy>60</Nenergy> <Lenergy>.1</Lenergy> <Henergy>60.0</Henergy>
			<Ntemp>8</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</gg2g>
    <!--###########################CHARM QUARKS##############################-->
	<cq2cq status="active" moments="on">
		<mass>.0</mass>
		<degeneracy>36</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cq2cq>

	<cg2cg status="active" moments="on">
		<mass>.0</mass>
		<degeneracy>16</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cg2cg>

	<cq2cqg status="active" moments="off">
		<mass>.0</mass>
		<degeneracy>36</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cq2cqg>

	<cg2cgg status="active" moments="off">
		<mass>.0</mass>
		<degeneracy>16</degeneracy>
		<xsection slots="sqrts,temp">
			<Nsqrts>100</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>100.0</Hsqrts>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cg2cgg>

	<cqg2cq status="inactive" moments="off">
		<mass>.0</mass>
		<degeneracy>576</degeneracy>
		<xsection slots="sqrts,temp,xinel,yinel">
			<Nsqrts>40</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>20.0</Hsqrts>
			<Ntemp>10</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
			<Nxinel>20</Nxinel> <Lxinel>0.01</Lxinel> <Hxinel>0.99</Hxinel>
			<Nyinel>20</Nyinel> <Lyinel>0.01</Lyinel> <Hyinel>0.99</Hyinel>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>60</Nenergy> <Lenergy>.1</Lenergy> <Henergy>60.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cqg2cq>

	<cgg2cg status="inactive" moments="off">
		<mass>.0</mass>
		<degeneracy>256</degeneracy>
		<xsection slots="sqrts,temp,xinel,yinel">
			<Nsqrts>40</Nsqrts> <Lsqrts>.1</Lsqrts> <Hsqrts>20.0</Hsqrts>
			<Ntemp>10</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
			<Nxinel>20</Nxinel> <Lxinel>0.01</Lxinel> <Hxinel>0.99</Hxinel>
			<Nyinel>20</Nyinel> <Lyinel>0.01</Lyinel> <Hyinel>0.99</Hyinel>
		</xsection>
		<rate slots="energy,temp">
			<Nenergy>60</Nenergy> <Lenergy>.1</Lenergy> <Henergy>60.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cgg2cg>

	<c2cg status="active" moments="off">
		<mass>.0</mass>
		<rate slots="energy,temp">
			<Nenergy>400</Nenergy> <Lenergy>.1</Lenergy> <Henergy>400.0</Henergy>
			<Ntemp>16</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</c2cg>

	<cg2c status="inactive" moments="off">
		<mass>.0</mass>
		<rate slots="energy,temp">
			<Nenergy>60</Nenergy> <Lenergy>.1</Lenergy> <Henergy>60.0</Henergy>
			<Ntemp>8</Ntemp> <Ltemp>0.15</Ltemp> <Htemp>1.0</Htemp>
		</rate>
	</cg2c>
</Boltzmann>
